root = true

# All files get 4 indent and good white space with Unix endl
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Swagger gets tab size 2 because width
[*.{yaml,yml}]
indent_size = 2
indent_style = space
